<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <form method="POST" action="/choose_activity">
        <label for="name">Hello, what's your name?</label>
        <input type="text" name="name">
        <label for="status">On a scale of 1-3(3 being great, 1 being horrible), how are you doing today?</label>
        <button type="submit" name="rec_one"  value="1"></button>
        <button type="submit" name="rec_two"  value="2"></button>
        <button type="submit" name="rec_three" value="3"></button>


    </form>
</body>
</html>